.container {
    max-width: 80%; /* Alterado para porcentagem para tornar responsivo */
    margin: 15% auto;
    padding: 20px; /* Removido o padding em pixels */
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background: rgba(160, 178, 225, 1);
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%; /* Alterado para porcentagem para tornar responsivo */
    padding: 2%; /* Alterado para porcentagem para tornar responsivo */
    margin: 10px 0;
    box-sizing: border-box;
    background: rgb(79, 123, 155);
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: rgba(239, 34, 34, 1);
    color: #121212;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #798898;
}

/* Adicionado regras de mídia para ajustar o layout em telas menores */
@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}
